<div class="container">
  <img class="imagen_logo" src="/assets/login-logo.png" alt="Logo" class="responsive-img">
  <p class="parrafo_titulo">
    Atención {{alerta.nombre_contacto}}, se ha producido una alerta de <b>{{alerta.tipo_alerta}}</b>
  </p>

  <div class="map-container">
    <div class="loading-overlay" [ngClass]="{ 'hidden': !isLoading }">
      <p>Cargando...</p>
    </div>
    <iframe
      class="responsive-map"
      loading="lazy"
      allowfullscreen
      [src]="mapUrl"
      (load)="isLoading = false"
      (error)="isLoading = false">
    </iframe>
  </div>

  <div class="notificaciones">
    <h3>Notificaciones</h3>
    <table class="notification-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Cargo</th>
          <th>Nivel</th>
          <th>SMS</th>
          <th>WhatsApp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notificacion of alerta.notificaciones">
          <td>{{notificacion.nombre}}</td>
          <td>
            {{notificacion.email.to}}
            <span [ngClass]="getEmailIconClass(notificacion.email.status)" class="icon"></span>
          </td>
          <td>{{notificacion.telefono}}</td>
          <td>{{notificacion.cargo}}</td>
          <td>{{notificacion.nivel}}</td>
          <td>
              <span [ngClass]="getSmsIconClass(notificacion.sms)" class="icon"></span>
          </td>
          <td>
            <span [ngClass]="getWhatsappIconClass(notificacion.whatsapp.status)" class="icon"></span>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
