/* General styling */
div {
  text-align: center;
}

.imagen_logo {
  width: 110px;
  height: 60px;
  margin-bottom: 20px;
}

.parrafo_titulo {
  font-size: 20px;
  padding: 5px;
}

.alert p {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  margin: 0;
  margin-bottom: 10px;
}

.alert span {
  text-align: left;
}

.alert b {
  text-align: right;
}

#boton_gestion {
  margin-top: 10px;
}

.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.responsive-img {
  width: 150px;
  height: 100px;
  align-self: center;
}

.map-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  padding-bottom: 42.25%;
}

.responsive-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  font-size: 1.5em;
  color: #333;
  transition: opacity 0.3s ease;
}

.hidden {
  display: none;
}

button {
  width: 135px;
  max-width: 300px;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .parrafo_titulo {
    font-size: 18px;
  }

  .alert p {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}

.notificaciones {
  margin: 20px 0;
}

.notificaciones h3 {
  margin-bottom: 10px;
}

.notification-table {
  width: 100%;
  border-collapse: collapse;
}

.notification-table th, .notification-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.notification-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.notification-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.notification-table tr:hover {
  background-color: #ddd;
}

/* Estilos para los íconos */
.icon {
  font-size: 20px;
}

.fa-check {
  color: #4CAF50; /* Green check for sent */
}

.fa-check-double {
  color: #2196F3; /* Blue double check for read and received */
}

.fa-check-double.blue {
  color: #2196F3; /* Blue double check for received */
}

